[include]
    path = ~/.gitconfig.local
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
    path = ~/.gitconfig.github
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
    path = ~/.gitconfig.github
[color]
    ui = true
[push]
    default = upstream
[alias]
    co = checkout
    st = status
    ci = commit
    di = diff
    dt = difftool
    br = branch
    g = log --graph --pretty=format:'%C(yellow)%h%Creset %C(magenta)%ad%Creset %C(auto)%d%Creset %s %C(cyan)<%an>%Creset' --date=format:'%Y/%m/%d %H:%M' --abbrev-commit
[core]
    excludesfile = ~/.gitignore_global
    ignorecase = false
[http]
    cookiefile = ~/.gitcookies
[init]
    defaultBranch = main
