[user]
    name = STAR_ZERO
    email = kenji.01.star@gmail.com
[color]
    ui = true
[push]
    default = upstream
[alias]
    co = checkout
    st = status
    ci = commit
    di = diff
    br = branch
[core]
    excludesfile = ~/.gitignore_global
[merge]
    keepBackup = false
    tool = extMerge
[mergetool "extMerge"]
    cmd = extMerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
    trustExitCode = false
[diff]
    external = extDiff
