[user]
    name = STAR_ZERO
    email = kenji.01.star@gmail.com
[color]
    ui = true
[push]
    default = upstream
[alias]
    co = checkout
    st = status
    ci = commit
    di = diff
    d = diff --no-ext-diff
    br = branch
    g = log --graph --pretty=format:'%C(yellow)%h%Creset %C(auto)%d%C(reset) %s %C(magenta)(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
[core]
    excludesfile = ~/.gitignore_global
	ignorecase = false
[merge]
    keepBackup = false
    tool = extMerge
[mergetool "extMerge"]
    cmd = extMerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
    trustExitCode = false
[diff]
    external = extDiff
