[submodule ".zsh.d/zsh-completions"]
	path = .zsh.d/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
