[submodule ".zsh.d/zsh-completions"]
	path = .zsh.d/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".vim/neobundle.vim"]
	path = .vim/neobundle.vim
	url = git@github.com:Shougo/neobundle.vim.git
[submodule ".tmux-powerline"]
	path = .tmux-powerline
	url = git@github.com:STAR-ZERO/tmux-powerline.git
